<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Service</h1>

    <nav>
        <ul>
            <li>
                <!-- '/school/' -->
                <a href="{% url "crud:index" %}">학생 목록</a>
            </li>

            {% if not request.user.is_authenticated %}
            <li>
                <a href="{% url "accounts:login" %}">Login</a>
            </li>
            <li>
                <a href="{% url "accounts:signup" %}">Signup</a>
            </li>
            {% else %}
            <li>
                <a href="{% url "crud:create" %}">학생정보 입력</a>
            </li>
            <li>
                <a href="{% url "accounts:logout" %}">Logout</a>
            </li>
            {% endif %}

        </ul>
    </nav>
    {% block content %}
    
    {% endblock content %}
</body>
</html>