{% extends "base.html" %}

{% block content %}

<h1>{{ student.name }}</h1>

<p>나이: {{ student.age }}</p>
<p>전공: {{ student.major }}</p>
<p>비고: {{ student.description }}</p>

<div>
    <!-- "/school/{{ student.pk }}/edit" -->
    <a href="{% url "crud:update" student.pk %}">
        <button>학생 정보 수정하기</button>
    </a>
</div>
<div>
    <!-- "/school/{{ student.pk }}/delete" -->
    <form action="{% url "crud:delete" student.pk %}" method='POST'>
        {% csrf_token %}
        <button onclick="alert('{{ student.name }} 학생 정보를 삭제하시겠습니까?')">학생 정보 삭제하기</button>
    </form>
</div>
{% endblock content %}


